$color-main: #fffffe;
$color-highlight: #078080;
$color-secondary: #f45d48;
$color-tertiary: #f8f5f2;
$color-submain: #f8f5f2;
$color-stroke: #232323;
$color-text: #222525;
$color-shadow-light: #c3c6d1;
