@use "colors" as colors;
@use "typography" as typography;
@use "breakpoints" as breakpoints;

// Page Titles
@mixin title {
  font-size: typography.$text-3xl;
  font-weight: typography.$font-bold;
  color: colors.$color-text;
  text-transform: capitalize;
}

// Buttons
@mixin button-solid {
  border-radius: 0.5rem;
  border: 3px solid;
  border-bottom-width: 6px;
  padding: 0.5rem 1rem;
}

@mixin button-shadow {
  border-radius: 0.5rem;
  border-bottom: 6px solid;
  padding: 0.5rem 1rem;
}

// Transition property
@mixin transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

//Animations
@mixin animate-spin {
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}

@mixin animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

@mixin animate-bounce {
  animation: bounce 1s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@mixin sm {
  @media only screen and (min-width: breakpoints.$screen-sm) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: breakpoints.$screen-md) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: breakpoints.$screen-lg) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: breakpoints.$screen-xl) {
    @content;
  }
}
